body{
    margin: 0px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.keret{
    width: 700px;
    border: 1px solid black;
    padding: 20px;
}

.mezo{
    margin: 20px 0px;
}

label{
    width: 250px;
}

input{
    width: 250px;
    float: right;
    font-size: 30px;
    border: 1px gold solid;
    background-color: antiquewhite;
    color: black;
}
